@import "../../style.scss";

.leftBar {
  @include themify($themes) {
    height: 100vh;
    position: sticky;
    background-color: themed("bg");
    color: themed("textColor");
    background-color: themed('backgroundBar');

    @include mobile{
      display: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      width: 100%;

      .upBarList {
        height: 60%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;

        .logoBar {
          display: flex;
          align-items: flex-start;
          justify-content: left;
          width: 80%;
        }

        .menu {
          margin-top: 20%;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: space-between;
          height: 80%;
          width: 100%;

          .searchItem {
            display: none;
          }

          .item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 15%;
            width: 80%;

            @include tablet{
              justify-content: center;
            }

            .barIcon {
              background-color: transparent;
            }

            span {
              font-size: 0.8rem;

              @include tablet {
                display: none;
              }
            }
          }

          .searchItem {
            display: none;

            @include tablet {
              display: block;
              display: flex;
            flex-direction: row;
            align-items: center;
            }

          }

          .mode {
            width: 80%;
          }
        }
      }

      .downBarList {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;

        .postItem {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: themed('logo');
          gap: 20px;
          padding: 5px;
          border-radius: 50px;
          font-weight: 700;
          width: 80%;
          height: 30px;
          color: themed('bgSoft');

          @include tablet {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            padding: 0;
          }

          span {
            @include tablet {
              display: none;
            }
          }
        }

        .userImg {
          display: flex;
          align-items: center;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          gap: 10px;
          width: 80%;
          height: 37px;

          img {
            width: 37px;
            height: 37px;
            border-radius: 50%;
            border: 2px solid themed('logo');
          }

          div {
            display: flex;
            height: 37px;
            justify-content: space-between;
            flex-direction: column;
            width: 60%;

            @include tablet {
              display: none;
            }

            p {
              color: themed('textColorSoft');
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }
}
