@import "../../style.scss";

.share {
  @include themify($themes) {
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    background-color: themed("bg");
    color: themed("textColor");
    margin-bottom: 20px;
    width: 100%;
    margin-top: 20px;

    @include mobile {
      margin-top: 0;
    }

    .container {
      padding: 20px;

      .top {
        display: flex;
        align-items: flex-start;
        gap: 20px;
        width: 100%;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }

        .comment {
          flex: 1;

          textarea {
            width: 100%;
            border: none;
            outline: none;
            height: 55px;
            background-color: transparent;
            overflow: hidden;
            resize: none;
            color: themed('textColor');
          }

          .warning {
            color: rgba(255, 77, 77, 0.911);
            font-size: 0.7rem;
            text-align: right;
          }

          .sharePreviewImg {
            position: relative;

            img {
              width: 70px;
              height: 70px;
              border-radius: 5px;
            }

            button {
              position: absolute;
              z-index: 100;
              top: 0;
              left: 0;
              background-color: transparent;
              border: none;
              margin-left: -10px;
            }
          }
          
        }
      }

      input {
        border: none;
        outline: none;
        padding: 20px 10px;
        background-color: transparent;
        width: 100%;
        color: themed("textColor");
      }

      hr {
        margin: 20px 0px;
        border: none;
        height: 0.5px;
        background-color: themed("border");
      }

      .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left {
          display: flex;
          align-items: center;
          gap: 20px;

          .item {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;

            img {
              height: 20px;
            }

            span {
              font-size: 10px;
              color: gray;
            }
          }
        }
        .right {
          button {
            border: none;
            padding: 5px;
            color: white;
            cursor: pointer;
            background-color: #5271ff;
            border-radius: 3px;
          }
        }
      }
    }
  }
}
