@import "../../style.scss";

.home {
	@include themify($themes) {
		background-color: themed("bgSoft");
		height: 100vh;
		overflow-y: scroll;
		padding: 0 20px;
		//background-color: transparent;

		&::-webkit-scrollbar {
			display: none;
		}

		@include mobile {
			padding: 0;
		}

		.homePage {
			@include mobile {
				padding: 10px;
				height: auto;
			}

			@include tablet {
				padding: 20px;
			}

			&::-webkit-scrollbar {
				display: none;
			}

			.mode {
				display: none;
				
				@include mobile {
					display: block;
					position: fixed;
					background-color: rgba(128, 128, 128, 0.427);
					bottom: 5%;
					right: 0;
					margin: 20px 8px;
					width: 30px;
					height: 30px;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
				}

				div {
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}
	}
}
